<footer>
    <section class="ct-u-backgroundMotive ct-u-colorWhite redfooter">
        <div class="row ct-u-paddingTop10 ct-u-paddingBottom10">
            <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                <ul class="list-inline">
                    <li><a href="https://www.google.pl/maps/place/21+Boulevard+Paul+C%C3%A9zanne,+63400+Chamali%C3%A8res,+France/@45.7807205,3.0491909,17z/data=!4m2!3m1!1s0x47f71a25adb91f1b:0xcf9f299742b44c4c">
                            <i class="fa fa-map-marker"></i>
                            21 boulevard Paul C&eacute;zanne, 63400 CHAMALI&Egrave;RES
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <a href="tel:0667109515">(+33)6 67 10 95 15</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:contact@adenia.fr">contact@adenia.fr</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="ct-prefooter-inner ct-u-relative ct-u-paddingTop10 ct-u-paddingBottom10">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="widget">
                    <div class="widget-inner">
                        <h6 class="text-uppercase ct-u-colorMotive ct-fw-600 text-center">
                            <a href="{{ path('contact') }}">Nous contacter</a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="widget">
                    <div class="widget-inner">
                        <h6 class="text-uppercase ct-u-colorMotive ct-fw-600 text-center">
                            <a href="{{ path('plan_site') }}">plan du site</a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="widget">
                    <div class="widget-inner">
                        <h6 class="text-uppercase ct-u-colorMotive ct-fw-600 text-center">
                            <a href="{{ path('mentions_legales') }}">mentions l&eacute;gales</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
{#<footer>
    <div class="ct-prefooter footer-border">
        <div class="container">
            <div class="ct-prefooter-inner ct-u-relative ct-u-paddingTop20 ct-u-paddingBottom20">
                <div class="row">
                    <div class="widget widget-contact">
                        <div class="widget-inner" style="text-align: center;">
                            <ul class="list-inline list-unstyled">
                                <li><a href="https://www.google.pl/maps/place/21+Boulevard+Paul+C%C3%A9zanne,+63400+Chamali%C3%A8res,+France/@45.7807205,3.0491909,17z/data=!4m2!3m1!1s0x47f71a25adb91f1b:0xcf9f299742b44c4c">
                                        <i class="fa fa-map-marker"></i>
                                        21 boulevard Paul C&eacute;zanne, 63400 CHAMALI&Egrave;RES
                                    </a>
                                </li>
                                <li>
                                    <i class="fa fa-phone"></i>
                                    <a href="tel:0667109515">(+33)6 67 10 95 15</a>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:contact@adenia.fr">contact@adenia.fr</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="widget">
                            <div class="widget-inner">
                                <h6 class="text-uppercase ct-u-colorMotive ct-fw-600 text-center">
                                    <a href="{{ path('contact') }}">Nous contacter</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="widget">
                            <div class="widget-inner">
                                <h6 class="text-uppercase ct-u-colorMotive ct-fw-600 text-center">
                                    <a href="{{ path('plan_site') }}">plan du site</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <div class="widget">
                            <div class="widget-inner">
                                <h6 class="text-uppercase ct-u-colorMotive ct-fw-600 text-center">
                                    <a href="{{ path('mentions_legales') }}">mentions l&eacute;gales</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>#}