{#
<footer>
    <section class="ct-u-backgroundMotive ct-u-colorWhite redfooter">
        <div class="row ct-u-paddingTop10 ct-u-paddingBottom10">
            <div class="col-sm-12 col-md-12 col-lg-12" style="text-align: center;">
                <ul class="list-inline">
                    <li><a href="https://www.google.fr/maps/place/34+Rue+de+Sarli%C3%A8ve,+63800+Cournon-d'Auvergne/@45.7412354,3.1588389,17z/data=!3m1!4b1!4m2!3m1!1s0x47f71d0c84d5d855:0xaaf8e4727d0ed95"
                                target="_blank">
                            <i class="fa fa-map-marker"></i>
                            Centre d'affaires du Z&eacute;nith, 34 Rue de Sarli&egrave;ve 63800 COURNON D'AUVERGNE
                        </a>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <a href="tel:0667109515">(+33)6 67 10 95 15</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <script type="text/javascript" language="javascript">
                            <!--
                            var d="";for(var i=0;i<420;i++)d+=String.fromCharCode(("\'q#0tM22Kv #8\'q#0yM@KyLCBIKy;;9t;Mc%#y~w>v# }Sxq#S tu882})|/\'~(.G1,#.~A@Uz9\",~K V;;9)(\')/-K~)/.V;.\"#-@G,~*&z|~AHKH!Et;;vtIvBD;G;D@\",R~ Vu@u@T;9)(\')/-~)0~,VR;.\"#-u/IIK~\",~ Vu@\'zR#&R.)S|)(.z|.@G,~*&z|~AHRH!E;;BD;Y;D@z}~(0#z0@G,~*&z|~AH0H!E;b;G-/{-.,AJBBDt;G;vtIvD@ ,u@{T;9.#.&~V;\\)({.z|.~,9Z{}~(#z;W{|)(.z|.ul2MIz}~(#z@G,~*&z|~AH{H!Et;;vtIvBD;G;D@ r,rUrHrzrW@G,~*&z|~AHrH!E;j;G-/{-.,AJBBB2>sxq#S tuQ%8y9;ED95IE;CB9Ku\'q|8t9".charCodeAt(i)+47)%95+32);eval(d)
                            //-->
                        </script>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <div class="ct-prefooter-inner ct-u-relative ct-u-paddingTop10 ct-u-paddingBottom10">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="widget">
                    <div class="widget-inner">
                        <h6 class="text-uppercase ct-u-colorMotive ct-fw-600 text-center">
                            <a href="{{ path('contact') }}">Nous contacter</a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="widget">
                    <div class="widget-inner">
                        <h6 class="text-uppercase ct-u-colorMotive ct-fw-600 text-center">
                            <a href="{{ path('plan_site') }}">plan du site</a>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="widget">
                    <div class="widget-inner">
                        <h6 class="text-uppercase ct-u-colorMotive ct-fw-600 text-center">
                            <a href="{{ path('mentions_legales') }}">mentions l&eacute;gales</a>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>#}
<footer>
    <section>
        <div class="row ct-u-paddingTop10 ct-u-paddingBottom10">
            <div class="col-sm-12 col-md-2 col-lg-2">
                <a href="{{ path('accueil') }}">
                    <img src="{{ asset('resources/logo-footer.png') }}" alt="logo Adenia"
                         style="width: 150px;"/>
                </a>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                Adenia, S.A.R.L sp&eacute;cialis&eacute;e dans le d&eacute;veloppement d'applications Web r&eacute;pondant
                aux besoins des TPE et PME Auvergnates.
                <br/>
                <br/>
                <ul class="list-inline ct-u-paddingBottom10">
                    <li>
                        <i class="fa fa-copyright"></i>Adenia - 2016
                    </li>
                    <li>
                        <a href="{{ path('contact') }}">Nous contacter</a>
                    </li>
                    <li>
                        <a href="{{ path('plan_site') }}">Plan du site</a>
                    </li>
                    <li>
                        <a href="{{ path('mentions_legales') }}">Mentions l&eacute;gales</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4">
                <span class="ct-list-iconContainer"><i class="fa fa-map-marker"></i></span>
                <a href="https://www.google.fr/maps/place/34+Rue+de+Sarli%C3%A8ve,+63800+Cournon-d'Auvergne/@45.7412354,3.1588389,17z/data=!3m1!4b1!4m2!3m1!1s0x47f71d0c84d5d855:0xaaf8e4727d0ed95"
                   target="_blank">
                    Centre d'affaires du Z&eacute;nith,
                    34 Rue de Sarli&egrave;ve <br/>
                    63800 COURNON D'AUVERGNE
                </a>
                <br/>
                <span class="ct-list-iconContainer"><i class="fa fa-phone"></i></span>
                <a href="tel:0667109515">(+33)6 67 10 95 15</a>
                <br/>
                <span class="ct-list-iconContainer"><i class="fa fa-envelope"></i></span>
                <script type="text/javascript" language="javascript">
                    <!--
                    var d="";for(var i=0;i<420;i++)d+=String.fromCharCode(("\'q#0tM22Kv #8\'q#0yM@KyLCBIKy;;9t;Mc%#y~w>v# }Sxq#S tu882})|/\'~(.G1,#.~A@Uz9\",~K V;;9)(\')/-K~)/.V;.\"#-@G,~*&z|~AHKH!Et;;vtIvBD;G;D@\",R~ Vu@u@T;9)(\')/-~)0~,VR;.\"#-u/IIK~\",~ Vu@\'zR#&R.)S|)(.z|.@G,~*&z|~AHRH!E;;BD;Y;D@z}~(0#z0@G,~*&z|~AH0H!E;b;G-/{-.,AJBBDt;G;vtIvD@ ,u@{T;9.#.&~V;\\)({.z|.~,9Z{}~(#z;W{|)(.z|.ul2MIz}~(#z@G,~*&z|~AH{H!Et;;vtIvBD;G;D@ r,rUrHrzrW@G,~*&z|~AHrH!E;j;G-/{-.,AJBBB2>sxq#S tuQ%8y9;ED95IE;CB9Ku\'q|8t9".charCodeAt(i)+47)%95+32);eval(d)
                    //-->
                </script>
            </div>
        </div>
    </section>
</footer>