<nav class="ct-menuMobile text-uppercase">
    <ul class="ct-menuMobile-navbar">
        <li class="dropdown">
            <a href="{{ path('entreprise_valeurs') }}">L'entreprise</a>
            <ul class="dropdown-menu">
                {#<li><a href="{{ path('entreprise_historique') }}">Historique</a></li>#}
                <li><a href="{{ path('entreprise_valeurs') }}">Nos valeurs</a></li>
                <li><a href="{{ path('entreprise_equipe') }}">L'&eacutequipe</a></li>
                <li><a href="{{ path('entreprise_lesplus') }}">Les plus d'Adenia</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="{{ path('services_prestations') }}">Nos services</a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('services_prestations') }}">Prestations</a></li>
                {#<li><a href="{{ path('services_partenariats') }}">Partenariats</a></li>#}
                <li><a href="{{ path('services_faq') }}">FAQ</a></li>
            </ul>
        </li>
        {#<li>#}
        {#<a href="{{ path('realisations_references') }}">R&eacute;alisations</a>#}
        {#</li>#}
        <li class="dropdown">
            <a href="{{ path('opensource_philosophie') }}">Open Source</a>
            <ul class="dropdown-menu">
                {#<li><a href="{{ path('opensource_opensource_et_moi') }}">L'Open Source et moi</a></li>#}
                <li><a href="{{ path('opensource_philosophie') }}">Philosophie</a></li>
                <li><a href="{{ path('opensource_technologies') }}">Technologies</a></li>
            </ul>
        </li>
        <li>
            <a href="{{ path('contact') }}">Contact</a>
        </li>
    </ul>
</nav>