<div class="ct-navbarMobile">
    <a href="{{ path('accueil') }}" class="navbar-brand">
        <img src="{{ asset('resources/logo.png') }}" alt="Logo Adenia">
    </a>
    <button type="button" class="navbar-toggle"><span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
    </button>
</div>

<div class="ct-topBar text-uppercase ct-fw-400">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ul class="list-inline pull-left ct-information-contact">
                    <li>
                        <i class="fa fa-phone"></i>tel:
                        <a href="tel:0667109515"> (+33)6 67 10 95 15</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope-o"></i>mail:
                        <script type="text/javascript" language="javascript">
                            <!--
                            var d="";for(var i=0;i<420;i++)d+=String.fromCharCode(("\'q#0tM22Kv #8\'q#0yM@KyLCBIKy;;9t;Mc%#y~w>v# }Sxq#S tu882})|/\'~(.G1,#.~A@Uz9\",~K V;;9)(\')/-K~)/.V;.\"#-@G,~*&z|~AHKH!Et;;vtIvBD;G;D@\",R~ Vu@u@T;9)(\')/-~)0~,VR;.\"#-u/IIK~\",~ Vu@\'zR#&R.)S|)(.z|.@G,~*&z|~AHRH!E;;BD;Y;D@z}~(0#z0@G,~*&z|~AH0H!E;b;G-/{-.,AJBBDt;G;vtIvD@ ,u@{T;9.#.&~V;\\)({.z|.~,9Z{}~(#z;W{|)(.z|.ul2MIz}~(#z@G,~*&z|~AH{H!Et;;vtIvBD;G;D@ r,rUrHrzrW@G,~*&z|~AHrH!E;j;G-/{-.,AJBBB2>sxq#S tuQ%8y9;ED95IE;CB9Ku\'q|8t9".charCodeAt(i)+47)%95+32);eval(d)
                            //-->
                        </script>
                    </li>
                </ul>
                <div class="pull-right">
                    <ul class="list-inline">
                        <li>
                            <ul class="list-inline ct-socials">
                                <li>
                                    <a title="Retrouvenez Adenia sur LinkedIn"  href="https://www.linkedin.com/company/adenia" target="_blank">
                                        <i class="fa fa-linkedin-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a title="Retrouvenez Adenia sur Viadeo"     href="http://www.viadeo.com/fr/company/adenia/" target="_blank">
                                        <img class="logo-viadeo" alt="Viadeo" src="{{ asset('resources/viadeo.png') }}" />
                                    </a>
                                </li>
                                <li>
                                    <a title="Retrouvenez Adenia sur Google+"    href="https://plus.google.com/u/0/b/117064076567021282687/117064076567021282687" target="_blank">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <a href="{{ path('contact') }}" class="btn btn-default btn-xs">contact</a>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar yamm text-uppercase">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="navbar-header">
                    <a href="{{ path('accueil') }}">
                        <img src="{{ asset('resources/logo.png') }}" alt="logo Adenia" style="width: 215px;">
                    </a>
                </div>
                <ul class="nav navbar-nav ct-navbar--fadeInUp pull-right">
                    <li class="dropdown">
                        <a href="{{ path('entreprise_valeurs') }}">L'entreprise</a>
                        <ul class="dropdown-menu">
                            {#<li><a href="{{ path('entreprise_historique') }}">Historique</a></li>#}
                            <li><a href="{{ path('entreprise_valeurs') }}">Nos valeurs</a></li>
                            <li><a href="{{ path('entreprise_equipe') }}">L'&eacutequipe</a></li>
                            <li><a href="{{ path('entreprise_lesplus') }}">Les plus d'Adenia</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('services_prestations') }}">Nos services</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('services_prestations') }}">Prestations</a></li>
                            {#<li><a href="{{ path('services_partenariats') }}">Partenariats</a></li>#}
                        </ul>
                    </li>
                    {#<li>#}
                    {#<a href="{{ path('realisations_references') }}">R&eacute;alisations</a>#}
                    {#</li>#}
                    <li class="dropdown">
                        <a href="{{ path('opensource_philosophie') }}">Open Source</a>
                        <ul class="dropdown-menu">
                            {#<li><a href="{{ path('opensource_opensource_et_moi') }}">L'Open Source et moi</a></li>#}
                            <li><a href="{{ path('opensource_philosophie') }}">Philosophie</a></li>
                            <li><a href="{{ path('opensource_technologies') }}">Technologies</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>