<!-- Section développement -->
<div class="row">
    <h3 class="text-center ct-u-colorMotive ct-u-paddingBottom10">Phase 1 : D&eacute;veloppements</h3>
</div>
<div class="row">
    <div class="comparaison-div text-center">
        <figure>
            <img src="{{ asset('resources/comparaison/prestataire.png') }}" class="compare-img" alt="Prestataire autre"/>
            <figcaption>Prestataire Lambda</figcaption>
        </figure>
    </div>
    <div class="comparaison-div text-center">
        <figure>
            <img src="{{ asset('resources/comparaison/prestataire_adenia.png') }}" class="compare-img" alt="prestataire Adenia"/>
            <figcaption>Adenia</figcaption>
        </figure>
    </div>
</div>
<div class="row ct-u-paddingBottom40">
    <p class="text-center">Le prestataire développe l'application depuis ses locaux.</p>
</div>

<!-- Section suivi de projet -->
<div class="row">
    <h3 class="text-center ct-u-colorMotive ct-u-paddingBottom10">Phase 2 : Suivi du projet en cours de d&eacute;veloppement</h3>
</div>
<div class="row ct-u-paddingBottom40">
    <div class="comparaison-div text-center">
        <img src="{{ asset('resources/comparaison/presentation.png') }}" class="compare-img"
             alt="Présentation de l'application en réunion aux clients"/>
        <p class="text-center">Le prestataire doit pr&eacute;senter la solution en cours de d&eacute;veloppement au client
            lors d'une r&eacute;union.</p>
    </div>
    <div class="comparaison-div text-center">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5 text-center">
                <img src="{{ asset('resources/comparaison/prestataire_adenia.png') }}" class="compare-img" alt="prestataire Adenia"/>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 text-center" style="padding-top: 10%;">
                <figure>
                    <img src="{{ asset('resources/comparaison/serveur.png') }}" style="height: 50%;" alt="serveur de pr&eacute;s prodution"/>
                    <figcaption>Serveur de pr&eacute;-prod</figcaption>
                </figure>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 text-center">
                <figure>
                    <img src="{{ asset('resources/comparaison/client.png') }}" class="compare-img" alt="client"/>
                    <figcaption>Client depuis ses locaux</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <p class="text-center">Adenia met &agrave; la disposition du client l'application en cours de d&eacute;veloppement
            sur un serveur auquel le client se connecte via un identifiant et un mot de passe. Il peut ainsi
                tester l'application &agrave; volont&eacute;.</p>
        </div>
    </div>
</div>

<!-- Section installation et configuration -->
<div class="row">
    <h3 class="text-center ct-u-colorMotive ct-u-paddingBottom10">Phase 3 : Installation et configuration</h3>
</div>
<div class="row ct-u-paddingBottom40">
    <div class="comparaison-div text-center">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                <figure>
                    <img src="{{ asset('resources/comparaison/prestataire.png') }}" class="compare-img" alt="prestataire"/>
                    <figcaption>Prestataire chez le client</figcaption>
                </figure>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                <figure>
                    <img src="{{ asset('resources/comparaison/clients.png') }}" class="compare-img" alt="clients"/>
                    <figcaption>Utilisateurs de l'application</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <p class="text-center">Le prestataire vient dans les locaux du client pour installer l'application et param&egrave;trer
                chaque poste utilisateur.</p>
        </div>
    </div>
    <div class="comparaison-div text-center">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5 text-center">
                <img src="{{ asset('resources/comparaison/prestataire_adenia.png') }}" class="compare-img" alt="prestataire Adenia"/>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 text-center" style="padding-top: 10%;">
                <figure>
                    <img src="{{ asset('resources/comparaison/serveur.png') }}" style="height: 50%;" alt="serveur"/>
                    <figcaption>Serveur de production</figcaption>
                </figure>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 text-center">
                <figure>
                    <img src="{{ asset('resources/comparaison/client.png') }}" class="compare-img" alt="client"/>
                    <figcaption>Client depuis ses locaux</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <p class="text-center">Adenia migre les sources sur le serveur de production du client (qui peut &ecirc;tre
                fourni par un h&eacute;bergeur) et l'application est disponible pour le client et accessible par tout ceux
                cibl&eacute;s : salari&eacute;s (intranet ou internet avec acc&egrave;s s&eacute;curis&eacute;),
                client ou visiteurs (internet).</p>
        </div>
    </div>
</div>

<!-- Section utilisation -->
<div class="row">
    <h3 class="text-center ct-u-colorMotive ct-u-paddingBottom10">Phase 4 : Utilisation</h3>
</div>
<div class="row ct-u-paddingBottom40">
    <div class="comparaison-div text-center">
        <figure>
            <img src="{{ asset('resources/comparaison/client-devices-os.png') }}" class="compare-img" alt="prestataire"/>
            <figcaption>Client multipliant les d&eacute;veloppements</figcaption>
        </figure>
        <p class="text-center">Le prestataire va red&eacute;velopper l'application dans diff&eacute;rents langages
            sp&eacute;cifique aux environnements. &Agrave; l'heure actuelle des outils permettent de d&eacute;velopper
            des logiciels pour plusieurs plateformes, mais, hormis le web, aucun n'est compatible avec toutes les
            plateformes et tous les syst&egrave;mes.</p>
    </div>
    <div class="comparaison-div text-center">
        <figure>
            <img src="{{ asset('resources/comparaison/client-clientele.png') }}" class="compare-img" alt="client"/>
            <figcaption>Client partant en client&egrave;le</figcaption>
        </figure>
        <p class="text-center">L'application est accessible depuis ordinateur fixe, portable, tablette, smartphone,
            Windows, MacOs, Linux, Android, iOs, WindowsPhone, etc.
            sans perte de données ou de fonctionnalit&eacute;s et sans manipulation particuli&egrave;re &agrave; effectuer.</p>
    </div>
</div>


<!-- Section maintenance -->
<div class="row">
    <h3 class="text-center ct-u-colorMotive ct-u-paddingBottom10">Phase 5 : Maintenance</h3>
</div>
<div class="row ct-u-paddingBottom40">
    <div class="comparaison-div text-center">
        <img src="{{ asset('resources/comparaison/client-patch.png') }}" class="compare-img" alt="client sous diff&eacute;rentes versions"/>
        <p class="text-center">Le prestataire va envoyer les modifications sous forme de fichier ex&eacute;cutable (aussi
            appel&eacute; patch) au client qui devra lancer l'ex&eacute;cutable sur tous les postes utilisateurs du
            logiciel.</p>
    </div>
    <div class="comparaison-div text-center">
        <div class="row">
            <div class="col-sm-5 col-md-5 col-lg-5 text-center">
                <img src="{{ asset('resources/comparaison/prestataire_adenia.png') }}" class="compare-img" alt="prestataire Adenia"/>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 text-center" style="padding-top: 10%;">
                <figure>
                    <img src="{{ asset('resources/comparaison/serveur.png') }}" style="height: 50%;" alt="serveur de prodution"/>
                    <figcaption>Serveur de prod</figcaption>
                </figure>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5 text-center">
                <figure>
                    <img src="{{ asset('resources/comparaison/client.png') }}" class="compare-img" alt="client"/>
                    <figcaption>Client depuis ses locaux</figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <p class="text-center">Adenia met &agrave; jour la version de l'application sur le serveur de production.
                La mise &agrave; jour est instantann&eacute;ment disponible pour tout les utilisateurs.</p>
        </div>
    </div>
</div>
