{% extends 'base.html.twig' %}

{% block body %}
    <section class="ct-u-paddingTop80 ct-u-paddingBottom20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginBottom40">
                        <h1 class="ct-u-colorMotive text-uppercase ct-u-marginBottom10">
                            Prestations
                        </h1>
                    </div>
                </div>
            </div>
            <div class="row ct-u-paddingTop80">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--striped ct-u-top-50">
                        <h2 class="pull-left" style="line-height: 26px;">
                            Pourquoi s'orienter vers une solution web plut&ocirc;t qu'un logiciel classique ?</h2>
                        <div class="clearfix"></div>
                        <div class="ct-right-extension"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ct-u-paddingBottom20">
        <div class="container" id="container-thumbnail">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="ct-squareThumbnail ct-squareThumbnail--withHover ct-u-marginBottom30">
                        <div class="ct-squareThumbnail-body">
                            <div class="ct-squareThumbnail-title text-center"><span class="ct-fw-900">Accessibilit&eacute;</span></div>
                            <div class="ct-squareThumbnail-content">
                                Le 21&egrave;me si&egrave;cle est marqu&eacute; par la connexion. Tous les objets et toutes les personnes tendent vers une connexion
                                permanente. Les applications web permettent &agrave; l'utilisateur de retrouver ses donn&eacute;es, ses outils, sur toutes les
                                plateformes (ordinateur, tablettes, smartphone, etc.) et depuis n'importe o&ugrave; sans d&eacute;veloppement d'application
                                suppl&eacute;mentaire ni aucune perte de fonctionnalit&eacute;.
                            </div>
                            <div class="ct-squareThumbnail-button"><a href="#"></a></div>
                        </div>
                        <div class="ct-squareThumbnail-mask">
                            <img src="{{ asset('resources/accessibilite.png') }}" alt="Accessibilit&eacute;"
                                 style="height: 120px; margin-top: -40px; margin-bottom: 20px;"/>
                            <div class="ct-squareThumbnail-text text-uppercase"><span class="ct-fw-700">Accessibilit&eacute;</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="ct-squareThumbnail ct-squareThumbnail--withHover ct-u-marginBottom30">
                        <div class="ct-squareThumbnail-body">
                            <div class="ct-squareThumbnail-title text-center">
                                <span class="ct-fw-900">Compatibilit&eacute;</span>
                            </div>
                            <div class="ct-squareThumbnail-content">
                                Les applications Web
                                permettent &eacute;galement de s'affranchir du syst&egrave;me utilis&eacute; par la plateforme (Windows,
                                Linux, MacOS, etc.). L'utilisateur se connecte &agrave; l'application gr&acirc;ce &agrave; son navigateur web favoris
                            </div>
                            <div class="ct-squareThumbnail-button"><a href="#"></a></div>
                        </div>
                        <div class="ct-squareThumbnail-mask">
                            <img src="{{ asset('resources/compatibilite.png') }}" alt="Compatibilit&eacute;"
                                 style="height: 120px; margin-top: -40px; margin-bottom: 20px;"/>
                            <div class="ct-squareThumbnail-text text-uppercase">
                                <span class="ct-fw-700">Compatibilit&eacute;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="ct-squareThumbnail ct-squareThumbnail--withHover ct-u-marginBottom30">
                        <div class="ct-squareThumbnail-body">
                            <div class="ct-squareThumbnail-title text-center"><span class="ct-fw-900">Adaptabilit&eacute;</span></div>
                            <div class="ct-squareThumbnail-content">
                                Le choix d'une application web sp&eacute;cifique &agrave; vos besoins permet de b&eacute;n&eacute;ficier d'un
                                outil adapt&eacute;, avec votre vocabulaire et correspondant &agrave; votre m&eacute;tier. Le but final est
                                que ce soit l'outil qui s'adapte &agrave; votre personnel et &agrave; vos clients, pas l'inverse !
                                <!--Qu'elle soit utilis&eacute;e en interne ou sur internet, l'application web est la solution d'avenir des
                                syst&egrave;mes informatiques. -->
                            </div>
                            <div class="ct-squareThumbnail-button"><a href="#"></a></div>
                        </div>
                        <div class="ct-squareThumbnail-mask">
                            <img src="{{ asset('resources/adaptabilite.png') }}" alt="Adaptabilit&eacute;"
                                    style="height: 120px; margin-top: -40px; margin-bottom: 20px;"/>
                            <div class="ct-squareThumbnail-text text-uppercase">
                                <span class="ct-fw-700">Adaptabilit&eacute;</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="ct-squareThumbnail ct-squareThumbnail--withHover ct-u-marginBottom30">
                        <div class="ct-squareThumbnail-body">
                            <div class="ct-squareThumbnail-title text-center"><span class="ct-fw-900">Maintenabilit&eacute; et &eacute;volutivit&eacute;</span></div>
                            <div class="ct-squareThumbnail-content">
                                Lorsqu'une &eacute;volution ou une maintenance corrective est &agrave; effectuer sur l'application il suffit
                                de mettre &agrave; jour l'application une fois sur le serveur pour que tous les utilisateurs y aient acc&egrave;s
                                en m&ecirc;me temps. Le temps d'intervention et donc de bloquage des utilisateurs est extr&ecirc;mement r&eacute;duit.
                            </div>
                            <div class="ct-squareThumbnail-button"><a href="#"></a></div>
                        </div>
                        <div class="ct-squareThumbnail-mask">
                            <img src="{{ asset('resources/maintenabilite.png') }}" alt="Maintenabilit&eacute; et &eacute;volutivit&eacute;"
                                 style="height: 120px; margin-top: -40px; margin-bottom: 20px;"/>
                            <div class="ct-squareThumbnail-text text-uppercase">
                                <span class="ct-fw-700">Maintenabilit&eacute; et &eacute;volutivit&eacute;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row ct-u-paddingTop60 ct-u-paddingBottom10">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--striped ct-u-top-50">
                        <h2 class="pull-left" style="line-height: 26px;">
                            Nos r&eacute;alisations</h2>
                        <div class="clearfix"></div>
                        <div class="ct-right-extension"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--withImage">
                        <div class="ct-iconBox-icon">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="ct-iconBox-description">
                            <h2 class="ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">Analyse et audit</h2>
                            <p class="text-justify">
                                Nous r&eacute;alisons un audit de vos outils informatique afin de vous aider &agrave; cibler
                                les am&eacute;liorations logiciels vous permettant de gagner en efficacit&eacute;, en visibilit&eacute;
                                et ainsi augmenter votre chiffre d'affaires.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--withImage">
                        <div class="ct-iconBox-icon">
                            <i class="fa fa-cogs"></i>
                            {#<img src="./assets/images/content/parties-planner/icon2.png" alt="icon"/>#}
                        </div>
                        <div class="ct-iconBox-description">
                            <h2 class="ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">Cr&eacute;ation de votre solution web</h2>
                            <ul class="list-unstyled" style="text-align: left; margin-left: 10%;">
                                <li><i class="ct-u-colorMotive fa fa-long-arrow-right"></i> r&eacute;f&eacute;rencement naturel</li>
                                <li><i class="ct-u-colorMotive fa fa-long-arrow-right"></i> d&eacute;veloppement responsive opensource avec les derni&egrave;res technologies</li>
                                <li><i class="ct-u-colorMotive fa fa-long-arrow-right"></i> suivi et &eacute;volution du projet dans le temps</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--withImage">
                        <div class="ct-iconBox-icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="ct-iconBox-description">
                            <h2 class="ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">Formation</h2>
                            <p class="text-justify">
                                Nous proposons une formation sur chaque outil cr&eacute;&eacute; aux utilisateurs
                                afin de fournir une prise en main rapide et l'autonomie de vos &eacute;quipes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginBottom30">
                        &Agrave; chaque &eacute;tape de la vie de votre projet vous &ecirc;tes impliqu&eacute; pour obtenir un
                        produit qui vous correspond et ainsi maximiser les b&eacute;n&eacute;fices que vous en retirerez.
                        <br/>
                        <br/>
                        Pour obtenir une &eacute;valuation de vos besoins ou pour plus d'informations, n'h&eacute;sitez pas &agrave;
                        <a href="{{ path('contact') }}">nous contacter</a>.
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}