{% extends 'base.html.twig' %}

{% block title %} - Prestations{% endblock %}
{% block description %}Nous proposons à nos clients l'analyse de leurs besoins, le développement spécifique de leurs
    solutions et une formation adaptée aux outils créés. {% endblock %}
{% block keywords %}analyse développement formation{% endblock %}

{% block javascriptBefore %}
    <script type="text/javascript">
        function runSoftwareGame()
        {
            window.open("{{ path('jeu_clientlourd_web') }}");
        }
    </script>
{% endblock %}

{% block body %}
    <section class="ct-u-paddingTop80 ct-u-paddingBottom20">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginBottom40">
                        <h1 class="ct-u-colorMotive text-uppercase ct-u-marginBottom10">
                            Prestations
                        </h1>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 ct-u-marginBottom30">
                        Nous intervenons aupr&egrave;s de nos clients sur les phases d'audit, d'analyse, de d&eacute;veloppement,
                        de formation et &eacute;galement de suivi de projet via des contrats de maintenance et d'assistance.
                        <br/><br/>
                        Nous proposons de r&eacute;aliser des outils r&eacute;pondant sp&eacute;cifiquement aux besoins de nos
                        clients.
                        <br/>
                        Dans le cas de budget limit&eacute; nous pouvons proposer la mise &agrave;
                        disposition de l'outil en mode SaaS. Pour plus d'informations n'h&eacute;sitez pas &agrave; <a href="{{ path('contact') }}">nous contacter</a>.
                </div>
            </div>
        </div>
    </section>

    <div id="prestations" style="top: -90px; position: relative;"></div>
    <section>
        <div class="container">
            <div class="row ct-u-paddingTop50 ct-u-paddingBottom10">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--striped ct-u-top-50">
                        <h2 class="pull-left" style="line-height: 26px;">
                            Nos services
                        </h2>
                        <div class="clearfix"></div>
                        <div class="ct-right-extension"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--withImage">
                        <div class="ct-iconBox-icon">
                            <i class="fa fa-search"></i>
                        </div>
                        <div class="ct-iconBox-description">
                            <h2 class="ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">Analyse et audit</h2>
                            <p class="text-justify">
                                Nous r&eacute;alisons un audit de vos outils informatique afin de vous aider &agrave; cibler
                                les am&eacute;liorations logiciels vous permettant de gagner en efficacit&eacute;, en visibilit&eacute;
                                et ainsi augmenter votre chiffre d'affaires.
                            </p>
                            <p class="text-justify">
                                Nous &eacute;tablissons un cahier des charges reprennant vos besoins et pouvons
                                vous proposer des maquettes de votre futur outil.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--withImage">
                        <div class="ct-iconBox-icon">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="ct-iconBox-description">
                            <h2 class="ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">Cr&eacute;ation de votre solution web</h2>
                            <p class="text-justify">
                                Nous cr&eacute;ons votre application web en utilisant les derniers composants Open Source
                                afin de vous garantir les outils les plus efficace en terme de s&eacute;curit&eacute;,
                                rapidit&eacute; et ergonomie. Nous utilisons les techniques de r&eacute;f&eacute;rencement
                                naturel vous assurant ainsi une meilleur visibilit&eacute; sur les moteurs de recherche.
                                Tous nos d&eacute;veloppements son adaptatifs (responsive) nativement.
                                {#Afin d'assurer la p&eacute;r&eacute;nit&eacute; de votre application dans le temps nous
                                tenons compte de la diversit&eacute; et de l'&eacute;volution des supports. Pour cela tous
                                nos d&eacute;veloppements sont adaptatifs (responsive) nativement.#}
                            </p>
                            {#<ul class="list-unstyled" style="text-align: left; margin-left: 10%;">
                                <li><i class="ct-u-colorMotive fa fa-long-arrow-right"></i> r&eacute;f&eacute;rencement naturel</li>
                                <li><i class="ct-u-colorMotive fa fa-long-arrow-right"></i> d&eacute;veloppement responsive opensource avec les derni&egrave;res technologies</li>
                                <li><i class="ct-u-colorMotive fa fa-long-arrow-right"></i> suivi et &eacute;volution du projet dans le temps</li>
                            </ul>#}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--withImage">
                        <div class="ct-iconBox-icon">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="ct-iconBox-description">
                            <h2 class="ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">Formation</h2>
                            <p class="text-justify">
                                Nous vous proposons une formation sur chaque outil cr&eacute;&eacute;
                                afin de fournir une prise en main rapide et l'autonomie de vos &eacute;quipes. Notre objectif
                                est que vous ma&icirc;trisiez votre logiciel dans son int&eacute;gralit&eacute;. Nous vous
                                proposons d'ajouter un CMS (Content Management System), gestionnaire de contenu, vous permettant
                                de modifier vous-mêmes les contenus de votre site vitrine, e-commerce, etc.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="ct-iconBox ct-u-marginBottom20 ct-iconBox--withImage">
                        <div class="ct-iconBox-icon">
                            <i class="fa fa-wrench"></i>
                        </div>
                        <div class="ct-iconBox-description">
                            <h2 class="ct-fw-700 ct-u-colorMotive ct-u-marginBottom20">Maintenance et assistance</h2>
                            <p class="text-justify">
                                Tout nos d&eacute;veloppements sont garantis un mois contre tout d&eacute;faut &eacute;ventuel
                                de conception.
                            </p>
                            <p class="text-justify">
                                Apr&egrave;s la p&eacute;riode de garantie de votre projet nous pouvons assurer
                                une maintenance corrective et &eacute;volutive ainsi qu'une assistance.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--withBorder ct-heading--withBorderGrey ct-u-marginBottom30">
                        Nous r&eacute;alisons pour vous des applications web sur demande correspondant &agrave; vos besoins.
                        Cela peut aller du simple site vitrine ou e-commerce &agrave; une application avec une forte complexit&eacute;
                        m&eacute;tier (traiement et mise en forme graphique ou pdf de vos donn&eacute;es m&eacute;tier).
                        Nous intervenons dans
                        tous les secteurs (m&eacute;dical, transport, commerce, tourisme, etc.). &Agrave; titre personnel,
                        nous avons d&eacute;j&agrave; r&eacute;alis&eacute; des applications dans chacun de ces domaines.
                        <br/>
                        <br/>
                        <br/>
                        &Agrave; chaque &eacute;tape de la vie de votre projet vous &ecirc;tes impliqu&eacute; pour obtenir un
                        produit qui vous correspond et ainsi maximiser les b&eacute;n&eacute;fices que vous en retirerez.
                        <br/>
                        <br/>
                        Pour obtenir une &eacute;valuation de vos besoins ou pour plus d'informations, n'h&eacute;sitez pas &agrave;
                        <a href="{{ path('contact') }}" class="text-accentuate">nous contacter</a>.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ct-u-paddingBottom20 ct-u-paddingTop80">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="ct-heading--striped ct-u-top-50">
                        <h2 class="pull-left" style="line-height: 26px;">
                            Pourquoi s'orienter vers une solution web plut&ocirc;t qu'un logiciel classique ?</h2>
                        <div class="clearfix"></div>
                        <div class="ct-right-extension"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="container-thumbnail">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="ct-squareThumbnail ct-squareThumbnail--withHover ct-u-marginBottom30">
                        <div class="ct-squareThumbnail-body">
                            <div class="ct-squareThumbnail-title text-center"><span class="ct-fw-900">Accessibilit&eacute;</span></div>
                            <div class="ct-squareThumbnail-content">
                                Le 21&egrave;me si&egrave;cle est marqu&eacute; par la connexion. Tous les objets et toutes les personnes tendent vers une connexion
                                permanente. Les applications web permettent &agrave; l'utilisateur de retrouver ses donn&eacute;es, ses outils, sur toutes les
                                plateformes (ordinateur, tablettes, smartphone, etc.) et depuis n'importe o&ugrave; sans d&eacute;veloppement d'application
                                suppl&eacute;mentaire ni aucune perte de fonctionnalit&eacute;.
                            </div>
                            <div class="ct-squareThumbnail-button"><a href="#"></a></div>
                        </div>
                        <div class="ct-squareThumbnail-mask">
                            <img src="{{ asset('resources/accessibilite.png') }}" alt="Accessibilit&eacute;"/>
                            <div class="ct-squareThumbnail-text text-uppercase"><span class="ct-fw-700">Accessibilit&eacute;</span></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="ct-squareThumbnail ct-squareThumbnail--withHover ct-u-marginBottom30">
                        <div class="ct-squareThumbnail-body">
                            <div class="ct-squareThumbnail-title text-center">
                                <span class="ct-fw-900">Compatibilit&eacute;</span>
                            </div>
                            <div class="ct-squareThumbnail-content">
                                Les applications Web permettent &eacute;galement de s'affranchir du syst&egrave;me
                                utilis&eacute; par la plateforme (Windows, Linux, MacOS, etc.). Une application unique,
                                install&eacute;e sur un serveur distant, est accessible par l'utilisateur qui se connecte
                                &agrave; l'application gr&acirc;ce &agrave; son navigateur web favoris.
                                <br/><br/>
                                Pour un co&ucirc;t de d&eacute;veloppement unique, vous pourrez utiliser votre application
                                avec tous les syst&egrave;mes du march&eacute;.
                            </div>
                            <div class="ct-squareThumbnail-button"><a href="#"></a></div>
                        </div>
                        <div class="ct-squareThumbnail-mask">
                            <img src="{{ asset('resources/compatibilite.png') }}" alt="Compatibilit&eacute;"/>
                            <div class="ct-squareThumbnail-text text-uppercase">
                                <span class="ct-fw-700">Compatibilit&eacute;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="ct-squareThumbnail ct-squareThumbnail--withHover ct-u-marginBottom30">
                        <div class="ct-squareThumbnail-body">
                            <div class="ct-squareThumbnail-title text-center"><span class="ct-fw-900">Adaptabilit&eacute;</span></div>
                            <div class="ct-squareThumbnail-content">
                                Le choix d'une application web sp&eacute;cifique &agrave; vos besoins permet de b&eacute;n&eacute;ficier d'un
                                outil adapt&eacute; avec la terminologie correspondant &agrave; votre m&eacute;tier. Le but final est
                                que ce soit l'outil qui s'adapte &agrave; votre personnel et &agrave; vos clients, pas l'inverse !
                                <!--Qu'elle soit utilis&eacute;e en interne ou sur internet, l'application web est la solution d'avenir des
                                syst&egrave;mes informatiques. -->
                            </div>
                            <div class="ct-squareThumbnail-button"><a href="#"></a></div>
                        </div>
                        <div class="ct-squareThumbnail-mask">
                            <img src="{{ asset('resources/adaptabilite.png') }}" alt="Adaptabilit&eacute;"/>
                            <div class="ct-squareThumbnail-text text-uppercase">
                                <span class="ct-fw-700">Adaptabilit&eacute;</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="ct-squareThumbnail ct-squareThumbnail--withHover ct-u-marginBottom30">
                        <div class="ct-squareThumbnail-body">
                            <div class="ct-squareThumbnail-title text-center"><span class="ct-fw-900">Maintenabilit&eacute; et &eacute;volutivit&eacute;</span></div>
                            <div class="ct-squareThumbnail-content">
                                Lorsqu'une &eacute;volution ou une maintenance corrective est &agrave; effectuer sur l'application il suffit
                                de mettre &agrave; jour l'application une fois sur le serveur pour que tous les utilisateurs y aient acc&egrave;s
                                en m&ecirc;me temps. Le temps d'intervention et donc de blocage des utilisateurs est extr&ecirc;mement r&eacute;duit.
                            </div>
                            <div class="ct-squareThumbnail-button"><a href="#"></a></div>
                        </div>
                        <div class="ct-squareThumbnail-mask">
                            <img src="{{ asset('resources/maintenabilite.png') }}" alt="Maintenabilit&eacute; et &eacute;volutivit&eacute;"/>
                            <div class="ct-squareThumbnail-text text-uppercase">
                                <span class="ct-fw-700">Maintenabilit&eacute; et &eacute;volutivit&eacute;</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="container" id="container-thumbnail">
            <div id="1" role="tablist" aria-multiselectable="true" class="panel-group ct-u-marginBottom40">
                <div class="panel panel-default ct-accordion--decorated">
                    <div role="tab" class="panel-heading">
                        <a role="button" data-toggle="collapse" data-parent="#1" href="#collapse-1"
                           aria-expanded="true" aria-controls="collapse-1">
                            <h2>Comparer les solutions client lourd et web</h2>
                        </a>
                    </div>
                    <div id="collapse-1" role="tabpanel" aria-labelledby="header-1" class="panel-collapse collapse">
                        <div id="comapraion-zone" class="panel-body">
                        {{ include('services/comparaison-client-lourd-web.html.twig') }}
                        </div>
                        <a role="button" data-toggle="collapse" data-parent="#1" href="#collapse-1"
                           aria-expanded="true" aria-controls="collapse-1">
                            Réduire
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}